.git
.github
.gitignore

**/node_modules
**/dist
**/.vite
coverage
playwright-report
test-results

.env
.env.*
!.env.example

*.log
*.tmp
*.temp
.DS_Store
Thumbs.db

docker-compose.override.yml
compose.override.yml
